In [3]:
import numpy as np
import pandas as pd

print(np.__version__)
print(pd.__version__)

1.26.4
3.0.0

In [5]:
import os
os.getcwd()

'd:\\Desktop\\F1-Intelligent-Race-Analytics\\notebooks'

In [8]:
df = pd.read_csv("../data/raw/fastf1/merged/2023_season_laps_raw.csv")
df.head()

,Time,Driver,DriverNumber,LapTime,LapNumber,Stint,PitOutTime,PitInTime,Sector1Time,Sector2Time,...,LapStartTime,LapStartDate,TrackStatus,Position,Deleted,DeletedReason,FastF1Generated,IsAccurate,Year,RaceName
0,0 days 01:03:56.965000,VER,1,0 days 00:01:32.190000,1.0,1.0,NaN,NaN,NaN,0 days 00:00:38.769000,...,0 days 01:02:24.519000,2023-11-26 13:03:25.644,1,1.0,False,NaN,False,False,2023,Abu Dhabi Grand Prix
1,0 days 01:05:27.675000,VER,1,0 days 00:01:30.710000,2.0,1.0,NaN,NaN,0 days 00:00:18.377000,0 days 00:00:38.691000,...,0 days 01:03:56.965000,2023-11-26 13:04:58.090,1,1.0,False,NaN,False,True,2023,Abu Dhabi Grand Prix
2,0 days 01:06:58.083000,VER,1,0 days 00:01:30.408000,3.0,1.0,NaN,NaN,0 days 00:00:18.549000,0 days 00:00:38.725000,...,0 days 01:05:27.675000,2023-11-26 13:06:28.800,1,1.0,False,NaN,False,True,2023,Abu Dhabi Grand Prix
3,0 days 01:08:28.799000,VER,1,0 days 00:01:30.716000,4.0,1.0,NaN,NaN,0 days 00:00:18.562000,0 days 00:00:38.810000,...,0 days 01:06:58.083000,2023-11-26 13:07:59.208,1,1.0,False,NaN,False,True,2023,Abu Dhabi Grand Prix
4,0 days 01:09:59.351000,VER,1,0 days 00:01:30.552000,5.0,1.0,NaN,NaN,0 days 00:00:18.599000,0 days 00:00:38.714000,...,0 days 01:08:28.799000,2023-11-26 13:09:29.924,1,1.0,False,NaN,False,True,2023,Abu Dhabi Grand Prix

In [9]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 25393 entries, 0 to 25392
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Time                25393 non-null  str
 1   Driver              25393 non-null  str
 2   DriverNumber        25393 non-null  int64
 3   LapTime             24949 non-null  str
 4   LapNumber           25393 non-null  float64
 5   Stint               25393 non-null  float64
 6   PitOutTime          954 non-null    str
 7   PitInTime           969 non-null    str
 8   Sector1Time         24837 non-null  str
 9   Sector2Time         25351 non-null  str
 10  Sector3Time         25285 non-null  str
 11  Sector1SessionTime  24788 non-null  str
 12  Sector2SessionTime  25351 non-null  str
 13  Sector3SessionTime  25285 non-null  str
 14  SpeedI1             21449 non-null  float64
 15  SpeedI2             25351 non-null  float64
 16  SpeedFL             24380 non-null  float64
 17  SpeedST             23242 non-null  float64
 18  IsPersonalBest      25360 non-null  object
 19  Compound            25358 non-null  str
 20  TyreLife            25358 non-null  float64
 21  FreshTyre           25393 non-null  bool
 22  Team                25393 non-null  str
 23  LapStartTime        25393 non-null  str
 24  LapStartDate        25360 non-null  str
 25  TrackStatus         25393 non-null  int64
 26  Position            25352 non-null  float64
 27  Deleted             25393 non-null  bool
 28  DeletedReason       411 non-null    str
 29  FastF1Generated     25393 non-null  bool
 30  IsAccurate          25393 non-null  bool
 31  Year                25393 non-null  int64
 32  RaceName            25393 non-null  str
dtypes: bool(4), float64(8), int64(3), object(1), str(17)
memory usage: 12.0+ MB

In [10]:
df.isnull().sum().sort_values(ascending=False).head(15)

DeletedReason         24982
PitOutTime            24439
PitInTime             24424
SpeedI1                3944
SpeedST                2151
SpeedFL                1013
Sector1SessionTime      605
Sector1Time             556
LapTime                 444
Sector3SessionTime      108
Sector3Time             108
SpeedI2                  42
Sector2SessionTime       42
Sector2Time              42
Position                 41
dtype: int64

In [11]:
df["IsAccurate"].value_counts()

IsAccurate
True     22085
False     3308
Name: count, dtype: int64

In [12]:
df["Deleted"].value_counts()

Deleted
False    24982
True       411
Name: count, dtype: int64

In [13]:
df["Compound"].value_counts()

Compound
HARD            11975
MEDIUM           8798
SOFT             3813
INTERMEDIATE      724
WET                48
Name: count, dtype: int64