In [1]:
import pandas as pd

pace_df = pd.read_csv("../data/processed/2023_pace_laps.csv")
strategy_df = pd.read_csv("../data/processed/2023_strategy_laps.csv")

In [2]:
pace_df.shape
pace_df["RaceName"].nunique()
pace_df["Driver"].nunique()

22

In [3]:
pace_df["PitInTime"].notna().sum()
pace_df["PitOutTime"].notna().sum()

0

In [4]:
pace_df["Compound"].isna().sum()
pace_df["TyreLife"].isna().sum()

0

In [5]:
pace_df["LapTime"].isna().sum()
pace_df["LapTime"].head()

0    0 days 00:01:30.710000
1    0 days 00:01:30.408000
2    0 days 00:01:30.716000
3    0 days 00:01:30.552000
4    0 days 00:01:30.440000
Name: LapTime, dtype: str

In [6]:
pace_df["Compound"].value_counts()
pace_df["Stint"].describe()

count    21660.000000
mean         2.250600
std          1.044239
min          1.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          8.000000
Name: Stint, dtype: float64

In [7]:
strategy_df.shape
strategy_df["RaceName"].nunique()
strategy_df["Driver"].nunique()

22

In [8]:
strategy_df["PitInTime"].notna().sum()
strategy_df["PitOutTime"].notna().sum()

0

In [9]:
strategy_df["Compound"].value_counts(dropna=False)
strategy_df["TyreLife"].isna().sum()

35

In [10]:
strategy_df["Stint"].value_counts().head()
strategy_df["FreshTyre"].value_counts()

FreshTyre
True     16732
False     4963
Name: count, dtype: int64

In [11]:
df = pd.read_csv("../data/processed/2023_pace_laps_seconds.csv")

df[[
    "LapTime",
    "LapTime_seconds",
    "Sector1Time_seconds",
    "Sector2Time_seconds",
    "Sector3Time_seconds"
]].head()

,LapTime,LapTime_seconds,Sector1Time_seconds,Sector2Time_seconds,Sector3Time_seconds
0,0 days 00:01:30.710000,90.710,18.377,38.691,33.642
1,0 days 00:01:30.408000,90.408,18.549,38.725,33.134
2,0 days 00:01:30.716000,90.716,18.562,38.810,33.344
3,0 days 00:01:30.552000,90.552,18.599,38.714,33.239
4,0 days 00:01:30.440000,90.440,18.445,38.767,33.228